@import 'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap';

.game-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;

  &__skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__export {
    position: absolute;
    top: 5px;
    right: 150px;
  }

  &__skill {
    margin-bottom: 20px;
  }

  &__skill-name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }

  &__skill-levels {
    display: flex;
    gap: 10px;
  }

  &__level {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #f0f0f0;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #007aff;
      color: white;
    }
  }

  &__modal-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    gap: 10px;
    padding: 30px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgb(0 0 0 / 20%);
  }
}

body {
  font-family: 'Open Sans', sans-serif;
}

* {
  outline: none;
}
